<p>orders works!</p>
<table cellpadding="5" border="1" width = "100%">
    <tr>
        <th>Order Id</th>
        <th>Order Date</th>
        <th>Order Status</th>
        <th>Delivery Country</th>
        <th>Order From</th>
    </tr>
    <tbody *ngFor="let o of oderarray" [ngSwitch]="o.orderStatus">
        <tr *ngSwitchCase="'pending'"  [ngClass]="['red']">
            <td>{{o.orderId}}</td>
            <td>{{o.orderDate}}</td>
            <td>{{o.orderStatus}}</td>
            <td>{{o.deliveryCountry}}</td>
            <td>{{o.orderFrom}}</td>
        </tr>
        <tr *ngSwitchCase="'onTheWay'"  [ngClass]="['yellow']">
            <td>{{o.orderId}}</td>
            <td>{{o.orderDate}}</td>
            <td>{{o.orderStatus}}</td>
            <td>{{o.deliveryCountry}}</td>
            <td>{{o.orderFrom}}</td>
        </tr>
        <tr *ngSwitchCase="'delivered'"  [ngClass]="['green']">
            <td>{{o.orderId}}</td>
            <td>{{o.orderDate}}</td>
            <td>{{o.orderStatus}}</td>
            <td>{{o.deliveryCountry}}</td>
            <td>{{o.orderFrom}}</td>
        </tr>
    </tbody>
    
</table>