<p>ng-if-demo works!</p>
{{show}}

<h1 *ngIf="show; else ElseDiv" class="red">
    {{heading1}}
</h1>
<ng-template #ElseDiv>
    <h2 class="blue">
        {{heading2}}
    </h2>
</ng-template>

<!--ngFor is use to repeate html elements -->
<ul>
    <li *ngFor="let sub of subjects">{{sub}}</li>
</ul>

<ul>
    <li *ngFor="let stud of students">{{stud.display()}}</li>
</ul>

<!-- ngSwitch is a switch case  -->
<ul [ngSwitch]="countryCode">
    <li *ngSwitchCase="'USA'">United States of America</li>
    <li *ngSwitchCase="'IND'">India</li>
    <li *ngSwitchDefault>Select Correct Country Code</li>
</ul>

<div [ngStyle]="{color: changeColor}">
    Angular NgStyle Demo
</div>
<div [ngClass]="['divColor', 'textChange']">
    Angular NgClass Demo
</div>
<br><br>
<input type="text" [placeholder]=txt><br>
    